@import "tailwindcss";

html,
body,
#root {
  min-height: 100%;
  margin: 0;
  padding: 0;
  width:100%;
}

body {
  color: #384152;
  font-family: system-ui, sans-serif;
}

main {
  min-height: 100vh;

  background: linear-gradient(
    135deg,
    #DCEAF4 0%,
    #FAF7F2 50%,
    #F3DDE5 100%
  );
}